@media (max-width: 960px) {
  .container {
    width: 470px;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 50%;
    margin: auto;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(249, 231, 233) ;
  color:rgb(95, 71, 76);
  font-size: 11;
  line-height: 2;
  text-align: center;
}
h1 {
  color:rgb(184, 93, 105);
  font-family: 'Handjet', cursive;
  font-size: 35;
  line-height: 1;
}
h2 {
  color:rgb(150, 121, 126);
  font-family: 'Handjet', cursive;
  font-size: 1;
  line-height: 0.3;
}
a {
  text-decoration: none;
  color:rgb(111, 93, 96);
}
button {
  color:rgb(111, 93, 96);
  background-color: rgb(245, 193, 200);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 1px 1.5px rgb(224, 220, 220);

}
a:hover {
  color: rgb(255, 243, 245);
}
button:hover {
  color:rgb(237, 218, 221);
  transition: 300ms;
}
#navigation > li {
  list-style: none;
  display: inline-block;
  margin: 0;
}
#navigation > li > a {
  padding: 2px;
  margin: 0;
}
#navigation > li > a > i {
  font-size: larger;
}
ul {
  padding-inline-start: 0px;
}
.card {
  background-color: rgb(249, 243, 244);
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 1.5px rgb(224, 220, 220);
  transition: 300ms
}
img {
  border-radius: 50%;
  box-shadow: 1px 1px 1.5px rgb(224, 220, 220);
}
